<div class="container-fluid d-flex align-items-center justify-content-center min-vh-100">
  <div class="row align-items-center w-100">
    <!-- Left Column: Image -->
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img src="45-450952_transparent-laptop-png-hp-laptops-images-png-png.png" alt="Support Center" class="img-fluid rounded">
    </div>

    <!-- Right Column: Form -->
    <div class="col-md-8">
      <div class="form-container p-4 border rounded shadow">
        <h2 class="text-center" style="color: purple;">Contact Our</h2>
        <h2 class="text-center">Customer Support Center</h2>

        <form [formGroup]="Contactform">
          <!-- Row 1: First Name and Last Name -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>First Name *</label>
              <input [class.is-invalid]="Contactform.get('firstName')?.invalid" type="text" class="form-control" formControlName="firstName">
              <small [class.d-none]="Contactform.get('firstName')?.valid" class="text-danger">First Name is required</small>
            </div>
            <div class="col-md-6 form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" formControlName="lastName">
            </div>
          </div>

          <!-- Row 2: Phone and Email -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Phone *</label>
              <input [class.is-invalid]="Contactform.get('phone')?.invalid" type="text" class="form-control" formControlName="phone">
              <small [class.d-none]="Contactform.get('phone')?.valid" class="text-danger">Phone No. is required</small>
            </div>
            <div class="col-md-6 form-group">
              <label>Email *</label>
              <input [class.is-invalid]="Contactform.get('email')?.invalid" type="email" class="form-control" formControlName="email">
              <small [class.d-none]="Contactform.get('email')?.valid" class="text-danger">Email is required</small>
            </div>
          </div>

          <!-- Row 3: City and State -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>City *</label>
              <input [class.is-invalid]="Contactform.get('city')?.invalid" type="text" class="form-control" formControlName="city">
              <small [class.d-none]="Contactform.get('city')?.valid" class="text-danger">City is required</small>
            </div>
            <div class="col-md-6 form-group">
              <label>State *</label>
              <select [class.is-invalid]="Contactform.get('state')?.invalid" class="form-control" formControlName="state">
                <option value="" selected>Select</option>
                <option>Maharashtra</option>
                <option>Gujarat</option>
                <option>Uttar Pradesh</option>
              </select>
              <small [class.d-none]="Contactform.get('state')?.valid" class="text-danger">State is required</small>
            </div>
          </div>

          <!-- Row 4: Zipcode -->
          <div class="row">
            <div class="col-md-6 form-group">
              <label>Zipcode *</label>
              <input [class.is-invalid]="Contactform.get('zip')?.invalid" type="text" class="form-control" formControlName="zip">
              <small [class.d-none]="Contactform.get('zip')?.valid" class="text-danger">Zipcode is required</small>
            </div>
          </div>

          <!-- Row 5: Comments -->
          <div class="row">
            <div class="col-12 form-group">
              <label>Comments *</label>
              <textarea type="text" class="form-control" formControlName="comments"></textarea>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="row">
            <div class="col-12">
              <button [disabled]="Contactform.invalid" type="submit" class="btn btn-primary w-100">Submit Form</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  .min-vh-100 {
    min-height: 100vh;
  }

  .form-container {
    background-color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-right: -160px;
    margin-top: -470px;
  }
</style>
